<footer
  class="w-full min-h-[15rem] bg-Very-Dark-Blue block-padding md:py-20 inline-padding grid gap-8 sm:gap-4 lg:gap-0 grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
>
  <div
    class="h-full flex flex-col justify-between items-center md:items-start gap-4"
  >
    {{ $image := resources.Get "icons/logo.svg" }}
    <img
      src="{{$image.RelPermalink}}"
      class="h-6 w-auto invert"
      loading="lazy"
      alt="logo"
      data-aos="fade-down"
      data-aos-duration="500"
    />
    <ul class="flex items-center gap-2">
      {{ range .Site.Data.common.socialLinks }}
      <li>
        <a href="{{.url}}" class="hover:text-Bright-Red">
          {{ $image := resources.Get .icon }}
          <img src="{{$image.RelPermalink}}" alt="" />
        </a>
      </li>
      {{ end }}
    </ul>
  </div>

  <ul class="text-center md:text-left columns-1 md:columns-2 md:gap-24">
    {{ range .Site.Menus.main }}

    <li
      class="text-Very-Light-Gray capitalize font-be-vietnam-pro-regular hover:text-Bright-Red mb-4"
    >
      <a href="" class="">{{.Name}}</a>
    </li>
    {{ end }}
  </ul>

  <div class="flex flex-col items-center md:items-end justify-between">
    <form class="flex flex-col md:flex-row gap-2 items-center">
      <input type="email" name="" id="" placeholder="{{T
      "newsletter.inputPlaceholder"}}" class="bg-Very-Light-Gray
      placeholder:text-Dark-Grayish-Blue placeholder:text-sm text-sm
      font-be-vietnam-pro-regular w-full px-4 py-2.5 rounded-full" />
      <button
        class="bg-Bright-Red text-Very-Light-Gray font-be-vietnam-pro-regular px-5 py-2.5 rounded-full"
      >
        {{T "newsletter.submitButtonText"}}
      </button>
    </form>

    <p class="text-Dark-Grayish-Blue block">{{T "copyrightMessage"}}</p>
  </div>
</footer>
