<input type="checkbox" name="" id="menuToggle" class="hidden peer" />
<nav
  class="w-full relative md:h-28 inline-padding py-6 md:py-4 flex items-center justify-between"
>
  {{ $image := resources.Get "icons/logo.svg" }}
  <img
    src="{{ $image.RelPermalink }}"
    class="h-4 lg:h-6 w-auto"
    loading="lazy"
    alt="logo"
    data-aos="fade-down"
    data-aos-duration="500"
  />
  <!-- menu -->

  <ul
    class="hidden md:flex items-center gap-4"
    data-aos="fade-down"
    data-aos-duration="500"
  >
    {{ range .Site.Menus.main -}}
    <li class="">
      <a
        href="{{ .URL }}"
        class="text-base sm:text-xs lg:text-sm font-be-vietnam-pro-medium text-Very-Dark-Blue hover:text-Dark-Grayish-Blue capitalize {{ if not .Params.isVisible }}
          hidden
        {{ end }}"
        >{{ .Name }}</a
      >
    </li>
    {{ end }}
  </ul>

  <div class="flex items-center gap-1.5 md:gap-4">
    <span class="hidden md:block" id="languageToggle_desktop">
      {{ partial "languageToggle.html" . }}
    </span>

    <span class="hidden md:block"
      >{{ partial "common/get-started-button.html" . }}</span
    >
    <label for="menuToggle" class="block md:hidden cursor-pointer">
      {{ $image := resources.Get "icons/icon-hamburger.svg" }}

      <img src="{{$image.RelPermalink}}" alt="hamburger" class="" />
    </label>
  </div>
</nav>

<!-- menu for smaller screens -->
<aside
  id="sidebar"
  class="absolute top-5 left-1/2 -translate-x-1/2 hidden peer-checked:flex flex-col items-center transition-discrete duration-150 px-4 py-8 bg-Very-Light-Gray w-[90%]"
>
  <label for="menuToggle" class="absolute top-5 right-5 cursor-pointer">
    {{ $image := resources.Get "icons/icon-close.svg" }}

    <img src="{{$image.RelPermalink}}" alt="" class="size-4" />
  </label>
  <ul class="flex flex-col gap-4 items-center">
    {{ range .Site.Menus.main -}}
    <li>
      <a
        href="{{ .URL }}"
        class="text-dark dark:text-light text-lg font-be-vietnam-pro-medium"
        >{{ .Name }}</a
      >
    </li>
    {{ end }}
  </ul>
  <button class="filled-btn my-3">login</button>

  <div class="flex items-center gap-1.5 sm:gap-4">
    {{ partial "languageToggle.html" . }}
  </div>
</aside>
