<section class="md:h-[13rem] bg-Bright-Red flex items-center justify-center bg-[url(bg-simplify-section-desktop.svg)] bg-blend-darken bg-cover" >
  <div
    class="w-full block-padding inline-padding flex flex-col md:flex-row items-center justify-between gap-8 md:gap-0"
  >
    <h3
      class="text-4xl text-center md:text-left text-Very-Pale-Red font-be-vietnam-pro-bold md:max-w-[20ch]"
    >
      {{T "cta.heading"}}
    </h3>
    <button
      class="text-sm font-medium font-be-vietnam-pro-medium capitalize whitespace-nowrap bg-Very-Pale-Red hover:bg-Very-Pale-Red/80 text-Bright-Red px-4 py-2.5 shadow-md shadow-Bright-Red rounded-full cursor-pointer"
    >
      {{T "getStartedButtonLabel"}}
    </button>
  </div>
</section>
