<section
  class="min-h-[65vh] inline-padding block-padding flex flex-col-reverse lg:flex-row items-center justify-between"
>
  <div class="flex flex-col items-center md:items-start gap-6">
    <h1
      class="text-4xl md:text-5xl lg:text-6xl font-be-vietnam-pro-medium leading-11 md:leading-[72px] text-Dark-Blue text-center md:text-left md:max-w-[15ch] font-semibold"
    >
      {{T "hero.heading"}}
    </h1>
    <p
      class="text-base font-be-vietnam-pro-regular text-Dark-Grayish-Blue text-center md:text-left first-letter:uppercase max-w-[45ch]"
    >
      {{T "hero.description"}}
    </p>

    {{ partial "common/get-started-button.html" . }}
  </div>
  {{ with .Site.Data.common.hero.bannerImage }} 
  {{ $image := resources.Get . }}
    <img src="{{ $image.RelPermalink }}" alt="My Image">
  {{ end }}
</section>
