<div
  class="group relative w-fit rounded-md border dark:sm:border-light shadow-sm px-4 py-2 sm:bg-blue-100/15 text-sm text-dark md:text-light dark:text-light font-medium capitalize font-be-vietnam-pro-medium cursor-pointer hover:bg-gray-100/25 focus:outline-none"
>
  <button class="flex items-center gap-2">
    <span class="uppercase">{{.Language.LanguageCode}}</span>
  </button>

  <div
    class="hidden group-hover:block absolute top-full left-0 z-50 w-48 rounded-md shadow-lg bg-gray-200 dark:bg-dark max-[425px]:bg-gray-950/50 ring-1 ring-black ring-opacity-5 focus:outline-none"
  >
    {{ range $.Site.Home.AllTranslations }}
    <span
      class="text-dark dark:text-light flex items-center gap-2 px-4 py-2 text-sm font-bold"
      role="menuitem"
      tabindex="-1"
      id="menu-item-{{ .Language.LanguageCode }}"
    >
      {{$trimedLanguageCode:=trim .Language.LanguageCode " "}}
      <a href="{{.Permalink | relURL }}" class="">
        {{ .Language.LanguageName }}
      </a>
    </span>
    {{ end }}
  </div>
</div>
